@import url('https://fonts.googleapis.com/css2?family=Allura&family=Balthazar&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mrs+Saint+Delafield&display=swap');
body{
    background-color: rgba(65, 1, 17, 0.282);
}
.card{
    width: 60vw;
    height: 80vh;
    background-color: rgb(69, 0, 18);
    position: absolute;
    top: 10vh;
    left: 20vw;
    border-radius: 20px;
    box-shadow: 9px 8px 20px 4px black;
}
.pic{
    position: relative;
    width: 100%;
    height: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.im{
    display: block;
    width: auto;
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.descbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    
}
.link{
    border: 2px solid black;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 5px 3px 20px 0px rgb(133, 130, 126);
    background-color: black;
    color: rgb(173, 172, 172);
    text-decoration: none;

}
.title{
    font-family: "Montserrat", sans-serif;
    font-weight: 5px;
    letter-spacing: 10px;
    font-size: 23px;
    text-align: center;
    transform: scaleY(1.5);
    margin: 40px;
    color: rgb(173, 172, 172);
}
.desc{
    height: 18%;
    font-size: 20px;
    padding-left: 35px;
    padding-right: 35px;
    
    font-family: "Allura", cursive;
    color: rgb(140, 122, 102);
}
.button{
    display: flex;
    justify-content: center;
    gap: 40px;
    
}
.but{
    border: 2px solid #8c7a66;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 5px 3px 20px 0px #695c4d;
    background-color: rgb(255, 255, 255);
    color: #8c7a66;
    
    text-decoration: none;
}