@import url('https://fonts.googleapis.com/css2?family=Allura&family=Balthazar&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mrs+Saint+Delafield&display=swap');
body{
    background-color: rgba(65, 1, 17, 0.282);
}
.card{
    width: 60vw;
    height: 80vh;
    background-color: rgba(103, 1, 27, 0.844);
    position: absolute;
    top: 10vh;
    left: 20vw;
    border-radius: 20px;
    box-shadow: 9px 8px 20px 4px black;
}
.pic{
    position: relative;
    width: 100%;
    height: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.im{
    display: block;
    width: auto;
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.descbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    
}
.link{
    border: 2px solid black;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 7px -3px 20px 0px black;
    background-color: black;
    color: rgba(244, 219, 186, 0.932);
    text-decoration: none;

}
.title{
    font-family: "Montserrat", sans-serif;
    font-weight: 5px;
    letter-spacing: 10px;
    font-size: 23px;
    text-align: center;
    transform: scaleY(1.5);
    margin: 40px;
}